body{
    background: #aab0dc;
}

h1{
    color: #fff;
    font-size: 64px;

    margin-top: 80px;
    text-align: center;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}